.dailyPlanning__content{
    padding: 15px;
    display:flex;
}

.tache {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    margin: 10px;
    width: fit-content;
}

.tache__isDone {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.check {
    animation-name: sursaut;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.tache__name {
    min-width: 251px;
}

.dailyPlanning__gif {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none; /* facultatif : évite de bloquer les clics */
  z-index: 10;           /* assure qu'il est visible par-dessus */
  display:flex;
  justify-content:center;
  align-items:center;

}
.dailyPlanning__gif img{
    animation-name: growTillMaxWidth;
    animation-duration:.4s;
    animation-fill-mode: forwards;
   
}

.dailyPlanning__content__fiches{
    display:flex;
}