.home {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home__content {
    display: flex;
    align-items: center;
}

/* Agenda  */
/* AGENDA YEAR */
#agenda {
    padding: 21px;
}

.agendaWeek__console {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 339px;
    margin: 19px 0px;
}

.agendaWeek__console p:first-child {
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(36, 50, 49);
    border: 1px solid rgb(91, 192, 110);
    color: white;
    transition: .4s;
}

.agendaWeek__console__today:hover {
    filter: brightness(.8);
}

.viewModePara {
    border-radius: 5px !important;
}

.viewModePara:hover {
    filter: brightness(.8);
}

.agendaWeek__console i {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.agendaWeek__console i:hover {
    background-color: grey;

}

.agendaYear {
    display: flex;
    flex-wrap: wrap;
}

.agendaYear__monthBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 73px 15px 0px;
    width: 234px;
    padding: 25px;
}

.agendaYear__monthBox table {}

.agendaYear__monthBox table th {
    padding: 5px;
}

.agendaYear__monthBox table td {
    padding: 5px;
}

.yearCurrentDay {
    background-color: #005C38 !important;
    font-weight: 600;
    border-radius: 50%;
}

.numero {
    padding: 5px;
}

.numero:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
    cursor: pointer;
}

/* AGENDA WEEK */
.weekCurrentDay {
    background-color: #005C38 !important;
    font-weight: 600;
    border-radius: 50%;
    color: white;
}

.weekCurrentDay:hover {
    filter: brightness(1.2) !important;
}

.dayFiche__header__para {
    width: fit-content;
    padding: 6px;
    margin: 5px 0px;
}

.dayFiche__header__para:hover {
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}

.agendaWeek {
    display: flex;
    flex-direction: column;
}

.agendaWeek__box {
    display: flex;
}

.dayFiche {
    margin: 5px;
    width: 186px;
    padding: 5px;
}

.dayFiche__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 5px;
    border-top: 2px solid #005C38;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.weekCurrentDayHeader {
    border-top: 2px solid #005C38;
}

.dayFiche__body {
    margin: 5px 0px;
    padding: 5px;

}

.dayFiche ul {
    list-style-type: none;
}

.dayFiche ul li {
    border: 1px solid rgba(255, 255, 255, .4);
    background-color: rgba(5, 242, 209, 0.13);
    margin-top: 4px;
    padding: 9px;
    filter: brightness(.6);
    transition: .4s;
}

.dayFiche ul li:hover {
    filter: brightness(1);
    cursor: pointer;
}

.currentWeekLi {
    background-color: #005C38 !important;
    filter: brightness(1) !important;
}

.currentWeekLi:hover {
    filter: brightness(1.2) !important;
}

.agendaWeek__console__today,
.agendYear__console__today {
    cursor: pointer;
}

.agendYear__console__today:hover {
    filter: brightness(.8);
}

.viewMode {
    position: relative;
}

.viewModePara {
    cursor: pointer;
}

.viewMode ul {
    position: absolute;
    top: 100%;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;

    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(77, 82, 95);
    background-color: rgb(33, 34, 44);
    padding: 3px;
    list-style-type: none;
}

.viewMode:hover ul {
    opacity: 1;
    transform: translateY(2px);
    pointer-events: auto;
    padding: 5px;
}

.viewMode ul li {
    padding: 9px;
    margin: 2px 0px;
    cursor: pointer;
}

.viewMode ul li:hover {
    background-color: blueviolet;
}

.choiceTasks {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.choiceTasks p {
    margin-left: 15px;
}

.open {
    background-color: green;
    cursor: pointer;
}

.close {
    background-color: red;
    cursor: pointer;
}

.joursFeries {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.checkFetes {
    position: absolute;
    top: auto;
    animation-name: sursaut;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}