.tasks__content {
    padding: 15px;
}

.tasks__content__console {
    border: 1px solid rgb(150, 156, 160);
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(25, 24, 33);
    width: 800px;
}

.tasks__content__console form {
    display: flex;
    flex-direction: column;
}

.tasks__content__console label {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.tasks__content__console input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgb(150, 156, 160);
    outline: none;
    padding: 10px;
    background-color: rgb(31, 33, 39);
    color: white;
    margin: 15px 0px;
}

.tasks__content__console__tasks--task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks__content__console__tasks--task p {
    font-size: 19px;
}

.tasks__content__console__tasks--task {
    background-color: #21242b;
    padding: 12px 16px;
    margin-bottom: 4px;
}

.tasks__content__console__tasks i {
    font-size: 29px;
    cursor: pointer;
}

body .addTask {
    background-color: #2e8b57 !important;
    margin-bottom: 10px;
}