@keyframes move {
    0% {
        transform: scale(1) translateY(0px);
    }

    10% {
        transform: scale(0.6) translateY(0px);
    }

    20% {
        transform: scale(1.5) translateY(-10px);
    }

    30% {
        transform: scale(1) translateY(0px);
    }

    40% {
        transform: scale(1.2) translateY(-5px);
    }

    50% {
        transform: scale(1) translateY(0px);
    }

    100% {
        transform: scale(1) translateY(0px);
    }
}

@keyframes appearsFromRight {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(1);
        /* <-- déjà inclure scale(1) */
    }

    100% {
        opacity: 1;
        transform: translateY(0%) scale(1);
        /* idem */
    }
}