@font-face {
    font-family: votrag;
    src: url('../fonts/Votrag.otf');
}

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica.otf');
}

.home,
.restaurants,
.dailyPlanning,
.connexion,
.courses,
.tasks,
.rdvs,
.events,
.projects {
    display: flex;
    flex-direction: column;
    border-left: 12px solid rgb(77, 82, 95);
    background-color: rgb(31, 33, 39);
    min-height: 100vh;
}

.bg_nav {
    background-color: rgb(33, 34, 44);
}

.bg_head {
    background-color: rgb(27, 29, 36);
    font-size: 26px;
    font-family: votrag;
    padding-left: 15px;
    border-bottom: 1px solid rgb(41, 43, 49);
}

.bg_main {
    background-color: rgb(31, 33, 39);
}

.btn-nav {
    border: 2px solid rgb(77, 80, 89);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    font-size: 12px;
}

.bg_green {
    background-color: green;
}

.rayé {
    text-decoration: line-through;
}

.purple_bg {
    background-image: linear-gradient(to bottom, #850ee6 0%, #9327ea 50%, #9e63df 100%);

}

.pink_bg {
    background-image: linear-gradient(to bottom, #c50f86 0%, #e929a5 50%, #bc4889 100%);
}

.red_bg {
    background-image: linear-gradient(to bottom, #c00e18 0%, #bf1d27 50%, #c43f46 100%);

}

.blue_bg {
    background-image: linear-gradient(to bottom, #0d74e5 0%, #4f86c4 50%, #526474 100%);
}

.btn-add {
    background-color: rgb(36, 50, 49);
    border: 1px solid rgb(91, 192, 110);
    color: rgb(176, 242, 208);
    padding: 9px;
    cursor: pointer;
}

.bgJaune {
    background-color: #ffd017 !important;
}

.bgBlack {
    background-color: black !important;
}

.bgRed {
    background-color: red!important;
}

.colorWhite {
    color: white !important;
}

.colorBlack {
    color: black !important;
}